/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-family: "Merriweather", serif;
}

/* Shared Styles */
    .container {
        margin: 0 auto;
        max-width: 1400px;
    }

    img {
        max-width: 100%;
    }
    .shared-btn{
        border: none;
        font-size: 20px;
        font-weight: 700;
        color: #FFFFFF;
        text-align: center;
        cursor: pointer;
        padding: 16px 32px;
        border-radius: 8px;
        background-color: #FF0000;
        font-family: "Inter", sans-serif;

    }
    .shared-btn:hover{
        background-color: #f56060;
    }

/* Header Section Styles */
    header {
        margin: 50px auto;
    }

    .hero-parent {
        background-image: linear-gradient(to bottom, #070211, transparent),
            url("../images/Banner\ Image.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 16px;
        height: 100%;
        width: 100%;
    }

    .hero-content {
        padding: 190px 340px;
        text-align: center;
        font-family: "Merriweather", serif;
    }

    .hero-content h3 {
        font-size: 32px;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 16px;
    }

    .hero-content h1 {
        color: #FFFFFF;
        font-size: 72px;
        font-weight: 700;
        line-height: 95px;
    }

/* Main Section Styles */
    /* 65% Off Section Styles */
    .off-discount-parent{
        text-align: center;
    }
    .off-discount-contents{
        margin-top: 100px;
    }
    .off-discount-title{
        color: #FF0000;
        font-size: 88px;
        font-weight: 700;
        font-family: "Inter", sans-serif;
    }
    .off-discount-des{
        color: #FF0000;
        font-size: 24px;
        font-weight: 500;
        margin: 50px auto 20px auto;
        font-family: "Inter", sans-serif;
    }
    .off-discount-subtitle{
        color: #070211;
        font-size: 48px;
        font-weight: 700;
        font-family: "Inter", sans-serif;

    }
    .off-discount-img{
        margin-top: 50px;
    }
    /* Mid Night Part Section Styles  */
    .midnight-part-section-container {
        margin-top: 120px;
        position: relative;
    }
    .midnight-section-parent{
        width: 100%;
        height: 100%;
        padding: 150px;
        border-radius: 16px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: linear-gradient(to right, #070211, transparent),
         url("../images/Vectorrr.png");
    }
    .midnight-section-contents-parent{
       text-align: left;
    }
    .midnight-section-title{
        font-size: 64px;
        color: #FFFFFF;
        font-weight: 700;
        line-height: 88px;
        letter-spacing: 7.04px;
        font-family: "Merriweather", serif;
    }
    .midnight-section-subtitle{
        font-size: 18px;
        line-height: 30px;
        margin: 24px auto 48px auto;
        color: rgba(255, 255, 255, 0.8);
        font-family: "Inter", sans-serif;
    }
    .midnight-party-btn{
        font-size: 20px;
        color: #FFFFFF;
        font-weight: 700;
        cursor: pointer;
        font-family: "Inter", sans-serif;
    }
    .year-img{
        position: absolute;
        display: block;
        right: 140px;
        top: 80px;
    }
    /* Join Now Section Styles */
    .join-now-section-container{
        margin-top: 120px;
    }
    .join-now-section-parent{
        border-radius: 16px;
        padding: 150px;
        background: linear-gradient(to bottom, #f7dbdb, transparent);
    }
    .join-now-info-box{
        gap: 10px;
        display: flex;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
    }
    .join-now-info-box h6{
        font-size: 32px;
        color: #FF0000;
        font-weight: 600;
        line-height: 56px;
        font-family: "Inter", sans-serif;
    }
    .join-now-info-box p {
        font-size: 32px;
        color: #070211;
        font-weight: 600;
        line-height: 56px;
        font-family: "Inter", sans-serif;
    }
    .join-now-btn{
        display: flex;
        align-items: end;
        justify-content: center;
        margin-top: 150px;
        flex-direction: row;
    }

    /* Best Offer Section Styles */
    .best-offer-section-container{
        display: grid;
        gap: 120px;
        margin-top: 120px;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(3 , 1fr);
    }
    .best-offer-left-heading{
        font-size: 24px;
        color: #FF0000;
        font-weight: 500;
        font-family: "Inter", sans-serif;
    }
    .best-offer-left-title{
        font-size: 48px;
        font-weight: 700;
        color:#070211;
        margin-top: 16px;
        margin-bottom: 20px;
    }
    .best-offer-left-subtitle{
        width: 90%;
        font-size: 20px;
        line-height: 32px;
        color: rgba(7, 2, 17, 0.6);
        font-family: "Inter", sans-serif;
    }
    .best-offer-center-parent {
        border-radius: 50%;
        padding: 20px;
        border: 15px solid #FF0000 ;
    }
   
    .best-offer-right-heading{
        font-size: 48px;
        color: #FF0000;
        font-weight: 700;
        font-family: "Inter", sans-serif;
    }
    .best-offer-right-des{
        width: 90%;
        font-size: 20px;
        line-height: 32px;
        margin-top: 16px;
        margin-bottom: 28px;
        color: rgba(7, 2, 17, 0.6);
        font-family: "Inter", sans-serif;
    }
    /* Holiday Sale Section Styles */
    .holiday-section-container{
        margin-top: 130px;
    }
    .holiday-section-text-contents-parent{
        text-align: center;
    }
    .holiday-section-heading{
        color: #070211;
        font-size: 24px;
        font-weight: 500;
        font-family: "Inter", sans-serif;
    }
    .holiday-sale-title{
        font-size: 72px ;
        font-weight: 800;
        color: #070211;
        margin-top: 16px;
        font-family: "Merriweather", serif;
    }
    .holiday-sale-title span{
        color: #FF0000;
    }
    .holiday-sale-subtitle{
        width: 40%;
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        margin: 28px auto 0 auto;
        color: rgba(7, 2, 17, 0.6);
        font-family: "Inter", sans-serif;
    }
    .holiday-sale-bottom-parent{
        height: 220px;
        position: relative;
        margin-top: 600px;
        border-radius: 16px;
        background-color: #FF0000;
    }
    .gift-box{
        left: 50px;
        bottom: -30px;
        position: absolute;
    }
    .holiday-sale-tag{
        bottom: 350px;
        right: 100px;
        position: absolute;
    }
/* Reponsive Styles for Small Screens */
@media screen and (max-width:576px) {

    /* Haeder Section Styles */
    header {
        margin: 20px;
    }
      .hero-parent {
        background-image: linear-gradient(to bottom, #070211, transparent),
            url("../images/Mobile\ Banner\ Image.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 16px;
        height: 100%;
        width: 100%;
    }

    .hero-content {
        padding: 30px;
    }

    .hero-content h3 {
        font-size: 20px;
    }

    .hero-content h1 {
        font-size: 30px;
        line-height: normal;
    }
   /* 65% Off Section Styles */
    .off-discount-contents{
        margin-top: 60px;
    }
    .off-discount-title{
        font-size: 48px;
    }
    .off-discount-des{
        font-size: 18px;
        margin: 30px auto 16px auto;
    }
    .off-discount-subtitle{
        font-size: 30px;
    }
    .off-discount-img{
        margin: 60px 20px;
    }
    /* Mid Night Part Section Styles  */
    .midnight-part-section-container {
        margin: 60px 20px;
    }
    .midnight-section-parent{
        width: 100%;
        height: 100%;
        padding: 30px;
        border-radius: 16px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: linear-gradient(to right, #070211, transparent),
         url("../images/Mobile\ Vectorrr.png");
    }
    .midnight-section-contents-parent{
        text-align: center;
    }
    .midnight-section-title{
        font-size: 35px;
        line-height:normal;
        letter-spacing: normal;
    }
    .midnight-section-subtitle{
        font-size: 16px;
        line-height: normal;
        margin: 18px auto 30px auto;
    }
     .midnight-party-btn{
        font-size: 16px;
     }
     .year-img{
        display: none;
     }
     /* Join Now Section Styles */
      .join-now-section-container{
        margin : 60px 20px ;
    }
    .join-now-section-parent{
        padding: 50px;
    }
    .join-now-info-box{
        gap: 5px;
    }
     .join-now-info-box h6{
        font-size: 18px;
        line-height: normal;
    }
    .join-now-info-box p {
        font-size: 16px;
        line-height: normal;
    }
    .join-now-btn{
        margin-top: 40px;
    }
    .shared-btn{
        font-size: 16px;
        padding: 14px 28px;
    }
    /* Best Offer Section Styles */
    .best-offer-section-container{
        margin: 60px 20px;
        gap: 50px;
        grid-template-columns: repeat(1 , 1fr);
    }
      .best-offer-left-heading{
        font-size: 18px;
    }
    .best-offer-left-title{
        font-size: 35px;
        margin-bottom: 18px;
    }
    .best-offer-left-subtitle{
        font-size: 18px;
    }
    .best-offer-center-parent {
        border-radius: 50%;
        padding: 20px;
        border: 15px solid #FF0000 ;
    }
   
    .best-offer-right-heading{
        font-size: 40px;
    }
    .best-offer-right-des{
        font-size: 18px;
    }
    /* Holiday Sale Section Styles */
    .holiday-section-container{
        margin:60px 20px;
    }
   
    .holiday-section-heading{
        font-size: 20px;
    }
    .holiday-sale-title{
        font-size: 38px ;
    }
  
    .holiday-sale-subtitle{
        width: 90%;
        font-size: 16px;
        line-height: normal;
        margin: 20px auto 0 auto;
    }
    .holiday-sale-bottom-parent{
        height: 150px;
        margin-top: 350px;
        border-radius: 16px;
    }
    .gift-box{
        bottom: -20px;
        left: 20px;
    }
     .holiday-sale-tag{
        bottom: 250px;
        right: 100px;
        width: 150px;
    }

}

/* Responsive Styles For Medium Screens */
@media screen and (min-width:576px) and (max-width:992px) {
    /* Haeder Section Styles */
     header {
        margin: 30px;
    }

    .hero-content {
        padding: 70px;
    }

    .hero-content h3 {
        font-size: 30px;
    }

    .hero-content h1 {
        font-size: 60px;
        line-height: normal;
    }
    /* 65% Off Section Styles */
    .off-discount-contents{
        margin-top: 80px;
    }
    .off-discount-title{
        font-size: 72px;
    }
    .off-discount-des{
        margin: 40px auto 20px auto;
    }
    .off-discount-subtitle{
        font-size: 40px;
    }
    .off-discount-img{
        margin: 60px 30px;
    }
    /* Mid Night Part Section Styles  */
    .midnight-part-section-container{
        margin: 80px 30px ;
    }
     .midnight-section-parent{
        padding: 40px;
    }
    .midnight-section-contents-parent{
       text-align: center;
    }
    .midnight-section-title{
        font-size: 50px;
        line-height: normal;
        letter-spacing: normal;
    }
    .midnight-section-subtitle{
        line-height: normal;
        margin: 20px ;
    }
    .year-img{
        display: none;
    }
    /* Join Now Section Styles */
     .join-now-section-container{
        margin : 80px 30px ;
    }
    .join-now-section-parent{
        padding: 60px;
    }
    .join-now-info-box{
        margin-top: 15px;
    }
     .join-now-info-box h6{
        font-size: 20px;
        line-height: normal;
    }
    .join-now-info-box p {
        font-size: 20px;
        line-height: normal;
    }
    .join-now-btn{
        margin-top: 60px;
    }
    .shared-btn{
        font-size: 18px;
    }
    /* Best Offer Section Styles */
    .best-offer-section-container{
        gap: 50px;
        margin: 80px 30px;
        grid-template-columns: repeat(2 , 1fr)  ;
       
        
    }
    .best-offer-left-heading{
        font-size: 22px;
    }
    .best-offer-left-title{
        font-size: 44px;
    }
   
    .best-offer-right-heading{
        font-size: 48px;
    }
  /* Holiday Sale Section Styles */
   .holiday-section-container{
        margin:80px 30px;
    }
   
    .holiday-sale-title{
        font-size: 50px ;
    }
   
    .holiday-sale-subtitle{
        width: 80%;
        margin: 24px auto 0 auto;
    }
    .holiday-sale-bottom-parent{
        margin-top: 500px;
    }
    .gift-box{
        bottom: -30px;
        left: 20px;
    }
    .holiday-sale-tag{
        bottom: 400px;
        right: 200px;
        width: 250px;
    }
}